# Program Generated
/Output
/config.json
/TensorFlow Hyperparameter Trials

# Caches
/__pycache__
/Classes/__pycache__
/Classes/LivePlotter/__pycache__
/Classes/RegressionModelTrainers/__pycache__

# External
/TrainingData.csv
/cuda